name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Also, run each Monday At 07:00.
  schedule:
    - cron: '0 7 * * 1'

  # Allow job to be triggered manually.
  workflow_dispatch:

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:

  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ "ubuntu-latest" ]
        python-version: [ "3.7", "3.8", "3.9", "3.10", "3.11" ]
        grafana-version: [ "6.7.6", "7.5.17", "8.5.27", "9.5.5" ]

    env:
      OS_TYPE: ${{ matrix.os }}
      PYTHON_VERSION: ${{ matrix.python-version }}
      GRAFANA_VERSION: ${{ matrix.grafana-version }}

    name: Python ${{ matrix.python-version }}, Grafana ${{ matrix.grafana-version }}
    steps:

      - name: Acquire sources
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          cache: 'pip'
          cache-dependency-path: 'setup.py'

      - name: Install program
        run: |
          pip install --editable=.[test]

      - name: Run tests
        run: |
          make test
